# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
.vscode
.idea
.DS_Store
frpc.ini
__debug_bin*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/
build
build.zip
language/
config.yml
config.yaml
config.*.yml
config.*.yaml
openapitools.json